EVENT_INTERNAL_SERVICE_TOKEN=replace-with-the-same-event-token
BOOKING_SERVICE_URL=http://localhost:4002/graphql
BOOKING_INTERNAL_SERVICE_TOKEN=replace-with-the-same-booking-token
INVENTORY_GRPC_URL=localhost:50051
